
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
    background-color: aqua;
    width: 45%;
    height: auto;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1% ;
}